/* Basic CSS for apps built */
@import 'structure.css';
@import 'normalize.css';
@import 'typography.css';

:root {
  /* Spacing */

  --unit: 0.5rem;
  --extra-small: calc(var(--unit) * 1);
  --small: calc(var(--unit) * 1.5);
  --medium: calc(var(--unit) * 3);
  --big: calc(var(--unit) * 4);
  --large: calc(var(--unit) * 5);
  --extra-large: calc(var(--unit) * 6);

  /* Misc */
  --radius: 5px;
  --disabled-opacity: 0.4;
  --header-height: 56px;

  /* Fonts */
  --font: 'Montserrat', sans-serif;
  --body-size: 1rem;
  --title-size: 1.125rem;
  --subtitle-size: 7.5rem;

  /* Principal Colors */
  --primary-color: hsl(210, 55%, 45%);
  --error-color: hsl(350, 100%, 57%);
  --warning-color: hsl(39, 100%, 47%);

  /* Colors */
  --white-color: hsla(0, 0%, 100%, 1);
  --black-color: hsl(0, 0%, 20%);
  --red-color: hsl(12, 96%, 35%);
  --gold-color: hsl(49, 100%, 90%);
  --gold-200-color: hsl(39, 100%, 93%);
  --gray-color: hsl(0, 0%, 44%);
  --gray-300-color: hsl(200, 30%, 96%);
  --gray-500-color: hsl(0, 0%, 80%);
  --gray-900-color: hsl(0, 0%, 70%);

  /* Shadows */
  --shadow: 0 2px 7px 1px hsla(240, 1%, 86%, 0.65);
}
