:host {
  box-sizing: border-box;

  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--extra-large);

  border-radius: var(--radius);
  box-shadow: var(--shadow);

  background-color: var(--primary-color);
}
